$dark-blue:#25293f;
$light-blue:#3C3F56;
$light-gold:#ffb300;
$dark-gold:#ff7e00;
$reverse-color:#fff;
$light-gray:#ececec;

$header-font:"bebas-neue", sans-serif;
$body-font:'Cabin', sans-serif;

$h1-size:5.5em;
$h1-leading:1em;
$h2-size:2em;
$h2-leading:1.5em;
$body-size:1.25em;
$body-leading:1.5em;
$caption-size:1.25em;

$mobile-h1-size:4em;
$mobile-h1-leading:1em;
$mobile-h2-size:1.5em;
$mobile-h2-leading:1.5em;
$mobile-body-size:1em;
$mobile-body-leading:1.2em;
$mobile-caption-size:0.8em;

$general-spacing:80px;
$transition:0.25s ease all;
$nav-breakpoint:960px;
$figure-breakpoint:580px;

body {
    font-family:$body-font;
    font-size:16px;
}

a {
    font-weight:700;
    text-decoration: underline;
    text-transform:uppercase;
    color:$light-gold;
    transition:$transition;
}

a:hover {
    color:$dark-gold;
}

#menu {
    background-color: $dark-blue;
    height:$general-spacing;
    height:10vh;
    min-height:60px;
    max-height:$general-spacing;
    line-height:$general-spacing / 2;
    font-size:$body-size;
    display:none;
    text-align: center;

    li {
        margin:0;
        height:100%;
        background: none;
        display:inline-flex;

        a {
            font-weight:500;
            color:$light-gold;
            margin:auto;
            margin-left:$general-spacing / 4;
        }

        a:hover {
            color:$dark-gold;
        }
    }

    li.active {
        background: none;

        a {
            font-weight:700;
        }

        a:hover {
            color:#fff;
        }
    }

    li:hover {
        background: none;
    }
}

#menu-small {
    background-color: $dark-blue;
    width:100%;
    height:10vh;
    min-height:$general-spacing / 2;
    max-height:$general-spacing;
    line-height:$general-spacing / 2;
    position:fixed;
    z-index:70;
    font-size:$body-size;
    display:none;

    li {
        margin:0;
        height:100%;
        display:flex;

        a {
            margin:auto;
            margin-left:$general-spacing / 4;
            text-decoration: none;
        }
    }

    a:before {
        content:'\f0c9';
        font-family:FontAwesome;
        margin-right:$general-spacing / 8;
    }

    a.close:before {
        content:'\f00d';
    }
}

#fullpage {
    .section {
        background-color:$light-blue;
        color:$reverse-color;

        .scaler {
            max-width:960px;
            padding:$general-spacing $general-spacing / 4;
            margin:0 auto;
            margin-top:$general-spacing;
        }

        h1 {
            font-family:$header-font;
            color:$reverse-color;
            text-shadow:5px 5px 0 $dark-blue;
            font-size:$h1-size;
            line-height:$h1-leading;
            margin-bottom:$general-spacing / 3;
        }

        h2 {
            font-size:$h2-size;
            line-height:$h2-leading;
            color:$light-gold;
            font-style:italic;
            margin:0 auto;
            margin-bottom:$general-spacing / 2;
        }

        p {
            font-size:$body-size;
            line-height:$body-leading;
            text-align:left;
            margin:0 auto;
            margin-bottom:$general-spacing / 4;

            a {
                text-transform: none;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        p:last-child {
            margin-bottom:0;
        }

        .twitter {
            text-align: center;
        }

        a.call-to-action {
            font-size:$body-size;
            line-height:$body-leading;
            text-align: center;
            background-color:$light-gold;
            width:50%;
            margin:0 auto;
            display:block;
            padding:$general-spacing / 4;
            text-decoration: none;
            font-weight:700;
            color:$dark-blue;
            box-shadow:5px 5px 0 $dark-blue;
        }

        a.call-to-action:hover {
            background-color: $dark-gold;
            text-decoration: none;
        }

        figure {
            width:100%;
            margin:0 auto;
            margin-bottom:$general-spacing / 2;

            img {
                width:100%;
                margin-bottom:$general-spacing / 4;
                box-shadow:5px 5px 0 $dark-blue;
            }

            img.left, img.right {
                width:40%;
            }

            img.left {
                margin-right:$general-spacing / 4;
            }

            img.right {
                margin-left:$general-spacing / 4;
            }

            .clearfix {
                clear:both;
            }

            figcaption {
                font-size:$caption-size;
                font-style:italic;
            }
        }

        figure.sponsor {

            max-width:80%;

            img {
                height:160px;
                width:auto;
            }

            img.hacc {
                margin-right:$general-spacing / 2;
            }

            img.belco {
                margin-left:$general-spacing / 2;
            }
        }

        figure.up-next {
            max-width:80%;
        }

        figure.sponsor2 {
            width:80%;
            height:20vw;
            background-image: url(../img/sponsors/sponsors-horiz.png);
            background-size: contain;
        }
    }

    .section:nth-child(odd){
        background-color:$reverse-color;
        color:$light-blue;

        h1 {
            color:$dark-blue;
            text-shadow:5px 5px 0 $light-gray;
        }

        h2 {
            color:$light-blue;
        }

        p {
            a {
                color:$dark-gold;
            }

            a:hover {
                color:$light-gold;
            }
        }

        figure {
            img {
                box-shadow:5px 5px 0 $light-gray;
            }
        }

        figure.sponsor, figure.up-next {
            img {
                box-shadow:none;
            }
        }
    }

    .section.intro {
        background-color: $dark-blue;
        position:relative;
        overflow:hidden;

        video, img {
            position: absolute;
            top: -100%;
            bottom: -100%;
            left: -100%;
            right: -100%;
            margin: auto;
            height:100%;
        }

        @media (min-aspect-ratio:16/9) {
            video, img {
                height:auto;
                width:100%;
            }
        }

        @media (max-aspect-ratio:40/71) {
            video, img {
                left:-107%;
            }
        }

        video {
            z-index:60;
        }

        img {
            transition:$transition;
        }
    }
}

@media (max-width:$nav-breakpoint){

    video {
      display:none;
    }

    #menu {
        background-color:$light-blue;
        background-image:url(../img/logo-sidebar.svg);
        background-repeat: no-repeat;
        background-position-x: -20px;
        background-position-y: 80%;
        min-height:0;
        max-height:100%;
        height:100%;
        z-index:0;
        padding-top:$general-spacing;
        padding-top:14vh;
        text-align: left;

        li {
            display:block;
            height:auto;

            a {
                height:auto;
            }

            @media (orientation:portrait) {
                a {
                    line-height:8vh;
                }
            }

            @media (orientation:landscape) {
                a {
                    line-height:8vh;
                }
            }
        }
    }

    #fullpage {
        left:0;
        transition:$transition;
        transition-timing-function: cubic-bezier(0.785, 0.005, 0.250, 1.000);

        .section {

            a.call-to-action {
                width:80%;
            }

            h2 {
                font-size:1.5em;
            }
        }
    }

    #fullpage.open {
        -webkit-filter:brightness(50%);
        filter:brightness(50%);
        left:$general-spacing * 3;
    }

}

@media (max-width:$figure-breakpoint) {
    #fullpage {
        .section {

            h1 {
                font-size:$mobile-h1-size;
            }

            figure {
                img.left, img.right {
                    width:100%;
                    margin:0;
                    margin-bottom:$general-spacing / 4;
                }
            }

            figure.sponsor {
                img {
                    display:block;
                    width:50%;
                    padding:0;
                    height:auto;
                }

                img.hacc,img.fresh, img.belco {
                    margin:0 auto;
                    margin-bottom:$general-spacing / 4;
                }
            }

            figure.up-next {
                max-width:100%;
            }
        }
    }
}
