body {
  font-family: "Cabin", sans-serif;
  font-size: 16px; }

a {
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  color: #ffb300;
  transition: 0.25s ease all; }

a:hover {
  color: #ff7e00; }

#menu {
  background-color: #25293f;
  height: 80px;
  height: 10vh;
  min-height: 60px;
  max-height: 80px;
  line-height: 40px;
  font-size: 1.25em;
  display: none;
  text-align: center; }
  #menu li {
    margin: 0;
    height: 100%;
    background: none;
    display: inline-flex; }
    #menu li a {
      font-weight: 500;
      color: #ffb300;
      margin: auto;
      margin-left: 20px; }
    #menu li a:hover {
      color: #ff7e00; }
  #menu li.active {
    background: none; }
    #menu li.active a {
      font-weight: 700; }
    #menu li.active a:hover {
      color: #fff; }
  #menu li:hover {
    background: none; }

#menu-small {
  background-color: #25293f;
  width: 100%;
  height: 10vh;
  min-height: 40px;
  max-height: 80px;
  line-height: 40px;
  position: fixed;
  z-index: 70;
  font-size: 1.25em;
  display: none; }
  #menu-small li {
    margin: 0;
    height: 100%;
    display: flex; }
    #menu-small li a {
      margin: auto;
      margin-left: 20px;
      text-decoration: none; }
  #menu-small a:before {
    content: '\f0c9';
    font-family: FontAwesome;
    margin-right: 10px; }
  #menu-small a.close:before {
    content: '\f00d'; }

#fullpage .section {
  background-color: #3C3F56;
  color: #fff; }
  #fullpage .section .scaler {
    max-width: 960px;
    padding: 80px 20px;
    margin: 0 auto;
    margin-top: 80px; }
  #fullpage .section h1 {
    font-family: "bebas-neue", sans-serif;
    color: #fff;
    text-shadow: 5px 5px 0 #25293f;
    font-size: 5.5em;
    line-height: 1em;
    margin-bottom: 26.66667px; }
  #fullpage .section h2 {
    font-size: 2em;
    line-height: 1.5em;
    color: #ffb300;
    font-style: italic;
    margin: 0 auto;
    margin-bottom: 40px; }
  #fullpage .section p {
    font-size: 1.25em;
    line-height: 1.5em;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 20px; }
    #fullpage .section p a {
      text-transform: none;
      text-decoration: none; }
    #fullpage .section p a:hover {
      text-decoration: underline; }
  #fullpage .section p:last-child {
    margin-bottom: 0; }
  #fullpage .section .twitter {
    text-align: center; }
  #fullpage .section a.call-to-action {
    font-size: 1.25em;
    line-height: 1.5em;
    text-align: center;
    background-color: #ffb300;
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: 700;
    color: #25293f;
    box-shadow: 5px 5px 0 #25293f; }
  #fullpage .section a.call-to-action:hover {
    background-color: #ff7e00;
    text-decoration: none; }
  #fullpage .section figure {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px; }
    #fullpage .section figure img {
      width: 100%;
      margin-bottom: 20px;
      box-shadow: 5px 5px 0 #25293f; }
    #fullpage .section figure img.left, #fullpage .section figure img.right {
      width: 40%; }
    #fullpage .section figure img.left {
      margin-right: 20px; }
    #fullpage .section figure img.right {
      margin-left: 20px; }
    #fullpage .section figure .clearfix {
      clear: both; }
    #fullpage .section figure figcaption {
      font-size: 1.25em;
      font-style: italic; }
  #fullpage .section figure.sponsor {
    max-width: 80%; }
    #fullpage .section figure.sponsor img {
      height: 160px;
      width: auto; }
    #fullpage .section figure.sponsor img.hacc {
      margin-right: 40px; }
    #fullpage .section figure.sponsor img.belco {
      margin-left: 40px; }
  #fullpage .section figure.up-next {
    max-width: 80%; }
  #fullpage .section figure.sponsor2 {
    width: 80%;
    height: 20vw;
    background-image: url(../img/sponsors/sponsors-horiz.png);
    background-size: contain; }
#fullpage .section:nth-child(odd) {
  background-color: #fff;
  color: #3C3F56; }
  #fullpage .section:nth-child(odd) h1 {
    color: #25293f;
    text-shadow: 5px 5px 0 #ececec; }
  #fullpage .section:nth-child(odd) h2 {
    color: #3C3F56; }
  #fullpage .section:nth-child(odd) p a {
    color: #ff7e00; }
  #fullpage .section:nth-child(odd) p a:hover {
    color: #ffb300; }
  #fullpage .section:nth-child(odd) figure img {
    box-shadow: 5px 5px 0 #ececec; }
  #fullpage .section:nth-child(odd) figure.sponsor img, #fullpage .section:nth-child(odd) figure.up-next img {
    box-shadow: none; }
#fullpage .section.intro {
  background-color: #25293f;
  position: relative;
  overflow: hidden; }
  #fullpage .section.intro video, #fullpage .section.intro img {
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    margin: auto;
    height: 100%; }
  @media (min-aspect-ratio: 16 / 9) {
    #fullpage .section.intro video, #fullpage .section.intro img {
      height: auto;
      width: 100%; } }
  @media (max-aspect-ratio: 40 / 71) {
    #fullpage .section.intro video, #fullpage .section.intro img {
      left: -107%; } }
  #fullpage .section.intro video {
    z-index: 60; }
  #fullpage .section.intro img {
    transition: 0.25s ease all; }

@media (max-width: 960px) {
  video {
    display: none; }

  #menu {
    background-color: #3C3F56;
    background-image: url(../img/logo-sidebar.svg);
    background-repeat: no-repeat;
    background-position-x: -20px;
    background-position-y: 80%;
    min-height: 0;
    max-height: 100%;
    height: 100%;
    z-index: 0;
    padding-top: 80px;
    padding-top: 14vh;
    text-align: left; }
    #menu li {
      display: block;
      height: auto; }
      #menu li a {
        height: auto; } }
    @media (max-width: 960px) and (orientation: portrait) {
      #menu li a {
        line-height: 8vh; } }
    @media (max-width: 960px) and (orientation: landscape) {
      #menu li a {
        line-height: 8vh; } }

@media (max-width: 960px) {
  #fullpage {
    left: 0;
    transition: 0.25s ease all;
    transition-timing-function: cubic-bezier(0.785, 0.005, 0.25, 1); }
    #fullpage .section a.call-to-action {
      width: 80%; }
    #fullpage .section h2 {
      font-size: 1.5em; }

  #fullpage.open {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    left: 240px; } }
@media (max-width: 580px) {
  #fullpage .section h1 {
    font-size: 4em; }
  #fullpage .section figure img.left, #fullpage .section figure img.right {
    width: 100%;
    margin: 0;
    margin-bottom: 20px; }
  #fullpage .section figure.sponsor img {
    display: block;
    width: 50%;
    padding: 0;
    height: auto; }
  #fullpage .section figure.sponsor img.hacc, #fullpage .section figure.sponsor img.fresh, #fullpage .section figure.sponsor img.belco {
    margin: 0 auto;
    margin-bottom: 20px; }
  #fullpage .section figure.up-next {
    max-width: 100%; } }

/*# sourceMappingURL=main.css.map */
